<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="{{ url_for('static', filename='UI.CSS') }}" rel="stylesheet" type="text/css" /> -->
    <link href="../static/UI.css" rel="stylesheet" type="text/css" />
    <script src="../static/jquery-3.6.0.min.js"></script>
    <title>Cookie Searching</title>
</head>

<body>
    <!--header-->
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a><em>Cookie</em> Searching </a>
        </div>
    </header>

    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <!-- <source src="../static/images/course-video.mp4" type="video/mp4" /> -->
        </video>
  
        <div class="video-overlay header-text">
            <div class="caption">
                <h6>準備開始你的料理之旅</h6>
                <label>輸入料理名稱:</label>
                <input id="app_name" name="app_name" type="text" /><br /><br />
                
                <label>輸入需準備的人數:</label>
                <input  id="app_sum" name="app_sum" type="number" /><br /><br />
                
                <button class="main-button" id="btnPost">Search</button>
                <h2><em>搜尋</em>結果 </h2>
            </div>
        </div>
    </section>
    <div id="table"></div>
    
    <script>
        $(function () {
            var $btnGet = $('#btnGet');
            var $console = $('#console');
            var $btnPost = $('#btnPost');

            var $edtAppSum = $('#app_sum');
            var $edtAppName = $('#app_name');

            $btnGet.off('click').on('click', function () {
                $.ajax({
                    url: '/message',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $console.text("");
                        // 把 #table div 清空，這樣再次搜尋就不會繼續顯示之前的搜尋結果
                        $('#table').append(""); 
                        for(var k in data){
                            var body = '<table><thead><tr><th colspan="2">' + k + '</th></tr></thead>';
                            // $console.append(k+"----<br>");
                            for(var v in data[k]){
                                body += '<tbody><tr>';
                                if(Object.keys(data[k]).length > 1){
                                    body += '<td>'+v+'</td><td>'+ data[k][v]+'</td></tr>';
                                    // $console.append(" 2 "+v+" : "+ data[k][v]+"<br>");
                                }
                                else {
                                    body += '<td colspan="2">'+ data[k][v]+'</td></tr>';
                                    // $console.append( data[k][v] + "<br>");
                                }
                                body += '</tr></tbody>';
                            }
                            body += '</table>';
                            $('#table').append(body);
                        }

                        $edtAppName.val(data.appInfo.name);
                        $edtAppSum.val(data.appInfo.sum);
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            })

            $btnPost.off('click').on('click',function(){
                $.ajax({
                    url: '/message',
                    data: {
                        "app_name" : $edtAppName.val(),
                        "app_sum" : $edtAppSum.val() ,

                    },
                    type: 'POST',
                    success: function (data) {
                        $console.text("");
                        // 把 #table div 清空，這樣再次搜尋就不會繼續顯示之前的搜尋結果
                        $('#table').empty(); 
                        for(var k in data){
                            var body = '<table><thead><tr><th colspan="2">' + k + '</th></tr></thead>';
                            // $console.append(k+"----<br>");
                            for(var v in data[k]){
                                body += '<tbody><tr>';
                                if(Object.keys(data[k]).length > 1){
                                     body += '<td>'+v+'</td><td>'+ data[k][v]+'</td></tr>';
                                    // $console.append(" 2 "+v+" : "+ data[k][v]+"<br>");
                                }
                                else {
                                    body += '<td colspan="2">'+ data[k][v]+'</td></tr>';
                                    // $console.append( data[k][v] + "<br>");
                                }
                                body += '</tr></tbody>';
                            }
                            body += '</table>';
                            $('#table').append(body);
                        }
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
        });
    </script>
</body>

</html>
